<section class="contact-form">
   <h2 class="contact-form__title"> 
    Diligenciar los campos y contactanos
    </h2>
    <form class="contact-form__form">
        <div class="contact-form__row">
           <label for="" class="contact-form__label">
           Nombre
          <Input type="text" class="contact-form__input" placeholder="Ingrese su nombre" required></Input>
          </label>

           <label for="" class="contact-form__label">
          Telefono
          
          <Input type="tel" class="contact-form__input" placeholder="Ingrese su numero de telefono" required></Input>
           </label>
     </div>
       
     
     <label for="" class="contact-form__label">
        correo
     
        <Input type="email" class="contact-form__input" placeholder="Ingrese su correo electronico" required></Input>
         </label>
               <label for="" class="contact-form__label">
        mensaje
        <textarea name="" id="" class="contact-form__text-area" placeholder="Ingresa su mensaje aqui" required></textarea>
      </label>

<div class="contact-form__actions">
         <button type="submit" class="contact-form__button">Enviar</button>
         <button type="button" class="contact-form__button
         contact-form__button--red">Enviar</button>
     
        </div>

    </form>
</section>